// .middle {
//   border-radius: 420px;
//   border-top-left-radius: 420px;
//   border-top-right-radius: 420px;
//   border-bottom-left-radius: 420px;
//   border-bottom-right-radius: 420px;
// }
.secondary-filter-btn {
  font-family: airbnb-light, sans-serif;
  font-size: 11px;
  background-color: rgba(128, 128, 128, 0);
  padding: 5px 7px;
  border: none;
  border-radius: 420px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border-bottom-left-radius: 420px;
  border-bottom-right-radius: 420px;
  -webkit-border-radius: 420px;
  outline: 1px solid $clr7;

  &.active {
    outline: 2px solid $clr2;
    &:hover {
      outline: 2px solid $clr2;
    }
  }
  &:hover {
    outline: 1px solid $clr2;
  }
}

.el-slider__bar {
  background-color: $clr4;
  border: 1px solid $clr4;
}
.el-slider__button {
  width: 30px;
  height: 30px;
  border: 1px solid $clr4;
}
.el-slider__runway {
  background-color: $clr7;
}

.secondary-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 0px;
  margin-top: rem(7px);
}

.dropdown {
  //25.1
  //   position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 12em;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 222);
  border-radius: 15px;
  z-index: 9999;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0px;

  & p {
    margin: 0px;
    font-size: rem(16px);
    font-weight: 400;
    padding: 20px 30px;
  }
  &:not(.price) p:hover {
    background-color: $clr8;
  }
  & div {
    display: flex;
    align-items: center;
  }

  &.price {
    justify-content: space-evenly;
    padding: 20px 25px;

    & :last-child {
      justify-content: space-between;
      align-items: center;

      & p {
        color: $clr4;
        font-size: 0.7em;
        width: 45%;
        border-radius: 10px;
        padding: 10px;
        line-height: 2em;
        border: 1px solid $clr7;
      }

      & span {
        color: $clr2;
        font-size: 1.4em;
      }
    }
  }
}

.dropdown-content.amenities {
  overflow-y: scroll;
  height: 300px;
  right: 0px;
  & button {
    margin: 10px;
  }
  & p {
    pointer-events: none;
  }
  & div {
    padding-left: 20px;
    height: 3em;
  }
}

.show {
  display: block;
  display: flex;
}

@media screen and (min-width: 359px) {
  .secondary-filter-btn {
    padding: 8px 10px;
  }
}

@media screen and (min-width: 500px) {
  .secondary-filter-btn {
    font-size: rem(14px);
    padding: 10px 15px;
  }
  .secondary-filters {
    max-width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .secondary-filters {
    display: block;
    max-width: 100%;
    margin: 0;
    margin-top: rem(30px);
    & > * {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1080px) {
  .dropdown-content {
    &.price {
      justify-content: space-evenly;
      width: 450px;
      height: 250px;
    }
  }

  .dropdown-content.amenities {
    overflow-y: scroll;
    height: 300px;
    right: auto;
    & button {
      margin: 10px;
    }
    & p {
      pointer-events: none;
    }
    & div {
      padding-left: 20px;
      height: 3em;
    }
  }
}
